<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>cz.orany.smn</string>
    <key>CFBundleName</key>
    <string>Slack Mention Notifier</string>
    <key>CFBundleDisplayName</key>
    <string>Slack Mention Notifier</string>
    <key>CFBundleExecutable</key>
    <string>SlackMentionNotifier</string>
    <key>CFBundleVersion</key>
    <string>__VERSION__</string>
    <key>CFBundleShortVersionString</key>
    <string>__VERSION__</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSRemindersUsageDescription</key>
    <string>Slack Mention Notifier creates reminders for Slack mentions you receive.</string>
</dict>
</plist>
